header button.menu-hamburger{
  background: transparent;
  border: none;
  color: var(--color-green-50);
  font-size: var(--size-2xl);
  transition: var(--transition-slow);
}
header button.menu-hamburger:hover{
  color: var(--color-green-500);
  transition: var(--transition-slow);
}

.menu-hamburger-container{
  background-color: var(--color-blue-500);
  position: absolute;
  display: flex;
  width: var(--width-xl);
  top: var(--width-lg);
  height: var(--heght-full);
  border: 1px solid var(--color-blue-500);
  right: 0;
  border-top-left-radius: var(--radius-lg);
  transition: var(--transition-slow);
  z-index: 999;
}

.menu-hamburger-container ul{
  display: flex;
  justify-content: space-evenly;
  width: var(--width-full);
  flex-direction: column;
  gap: var(--spacing-xl);
}
.menu-hamburger-container > ul > li{
  width: var(--width-full);
  text-align: center;
}
.menu-hamburger-container > ul li > a{
  display: block;
  width: var(--width-full);
  font-weight: var(--font-weight-bold);
  color: var(--color-green-50);
  transition: var(--transition-slow);
  padding: var(--spacing-lg);
}
.menu-hamburger-container > ul li a:hover{
  border: 1px solid var(--color-blue-400);
  color: var(--color-green-500);

}
