section.testimonies{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-4xl);
}
section.testimonies h2{
  margin-top: var(--spacing-md);
}

section.testimonies .testimonies-content{
  width: var(--width-full);
  padding: var(--spacing-4xl);
  max-width: var(--width-3xl);
  margin: 0 auto;
}
section.testimonies .swiper-slide{
  position: relative !important;
  width: var(--width-full) !important;
  height: auto !important;
  padding: var(--spacing-md) !important;
  border-radius: var(--radius-lg) !important;
  border: 1px solid var(--color-green-900) !important;
}
section.testimonies .swiper-slide img {
  border-radius: var(--radius-full) !important;
  position: absolute !important;
  border: 2px solid var(--color-green-900) !important;
  top: -30% !important;
  left: -20px !important;
  width: 100px !important;
  height: 100px !important;
}
section.testimonies .swiper-slide .testimony-content{
  margin-top: var(--spacing-2xl);
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
section.testimonies .swiper-slide .testimony-content span{
  font-weight: var(--font-weight-bold);
}
section.testimonies .swiper-slide i{
  background-color: var(--color-blue-300);
  margin-top: var(--spacing-lg);
  color: var(--color-blue-100);
  padding: var(--spacing-sm);
  border-radius: var(--radius-full);
}
@media screen and (max-width: 992px) {
  section.testimonies .swiper-slide {
    height: 200px !important;
  }
  section.testimonies{
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
}
