.main__content{
  width: 100%;
  grid-row-start: 2;
  margin-bottom: 32px;
}

.main__content--list{}
.main__content--list-item{}
.main__content--list-item--image{
  width: 350px;
  height: 200px;
}
.main__content--list-item--content{}