@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
:root {
  --green-50: #EDFAF5;
  --green-100: #DAF2E8;
  --green-200: #A8E0C6;
  --green-300: #7ACCA2;
  --green-400: #32A65C;
  --green-500: #008020;
  --green-600: #00731B;
  --green-700: #005E14;
  --green-800: #004D0F;
  --green-900: #00380A;
  --green-950: #002406;

  --orange-50: #FFFCF5;
  --orange-100: #FCF7E8;
  --orange-200: #FAECC8;
  --orange-300: #F7DCA6;
  --orange-400: #F2BB68;
  --orange-500: #ee932b;
  --orange-600: #D67C22;
  --orange-700: #B36017;
  --orange-800: #8F4710;
  --orange-900: #6B2E09;
  --orange-950: #451A03;
  
  --blue-50: #F2FBFC;
  --blue-100: #E8F9FC;
  --blue-200: #C6EBF5;
  --blue-300: #A5E0F0;
  --blue-400: #6AC4E6;
  --blue-500: #32a4d9;
  --blue-600: #298EC4;
  --blue-700: #1C6DA3;
  --blue-800: #125082;
  --blue-900: #0A3561;
  --blue-950: #041E40;

  --transition-effect: color ease-in-out .5s;
  
}

html, body {
  height: 100dvh;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--green-50);
  color: var(--blue-700);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  height: 100dvh;
}
/*===================== HEADER =====================  */
.header__content--top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 10px;
}
.header__content--top-menu-links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 32px;
  gap: 32px;
}
.header__content--top-menu-user{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header__content--top-menu-user > a{
  color: var(--blue-700);
  font-weight: 500;
  transition: var(--transition-effect);
}

.header__content--top-menu-user > a:hover{
  color: var(--blue-500);
}
.content-user > img{
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-left: 16px;
  border-radius: 50%;
}

.content-user{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content--bottom{
  background-color: var(--blue-900);
  color: var(--blue-100);
  padding: 16px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-hamburger{
  background: transparent;
  border: none;
  color: var(--blue-100);
  font-size: 16px;
  display: flex;
  gap: 10px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}
.menu-hamburger > i{
  font-size: 24px;
}
.header__content-logo{
  font-weight: 700;
  color: var(--orange-500);
  transition: var(--transition-effect);
  font-size: 42px;
}
.header__content-logo:hover{
  color: var(--orange-400);
}
.header__content--group{
  position: relative;
  display: flex;
  align-items: start;
  justify-content: end;
  width: 200px;
}
.header__content--group-input{
  padding: 10px;
  width: 150px;
  background-color: var(--blue-950);
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all ease-in-out .5s;
}
.header__content--group-input:focus{
  width: 100%;
  background-color: var(--blue-100);
  color: var(--blue-950);
}
.header__content--group-input:focus::placeholder{
  color: var(--blue-950);
  font-weight: 600;
}
/* .header__content--group-icon{
  position: absolute;
  bottom: 10px;
  left: 10px;
} */
.header__content--group-input::placeholder{
  color: var(--blue-100);
  margin-right: 10px;
}
/* .header__content-links{
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-evenly;
}
.header__content-link{
  color: var(--blue-100);
  font-size: 16px;
  position: relative;
  transition: var(--transition-effect);
}
.header__content-link:hover{
  color: var(--orange-500);
}

.header__content-link:hover::before{
  content: "";
  width: 42px;
  position: absolute;
  border: 1px solid var(--orange-500);
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  animation: leftFade .5s;

} */

/*===================== FIM HEADER =====================  */


/*===================== MAIN =====================  */

main{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 52px 82px;
  gap: 8px;
}
.main__banner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column: span 2 / span 2;
  height: 455px;
  gap: 8px;
}
.top--news-container{
  border-radius: 10px;
  color: var(--orange-500);
  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 32px 38px;

}
.top--news-container > span{
  font-size: 12px;
  color: var(--orange-500);
}
/* .top--news-container > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
} */
.top--news-01 {
  grid-row: span 4 / span 4;
  background: url("../images/image-01.jpg") no-repeat center/cover;
}

.top--news-02 {
  grid-row: span 2 / span 2;
  background: url("../images/image-06.jpg") no-repeat center/cover;
}

.top--news-03 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
  background: url("../images/image-05.jpg") no-repeat center/cover;
}

.main__content{
  border: 1px solid var(--green-800);
  grid-row-start: 2;
}
.main__aside{
  border: 1px solid var(--orange-800);
  grid-row-start: 2;
}













/*===================== FIM MAIN =====================  */

/*===================== FOOTER =====================  */

.footer__content{
  display: grid;
  grid-template-rows: 2;
  background-color: var(--blue-900);
  padding: 32px;
  gap: 32px;
  align-items: center;
}
.footer__content--top{
  grid-row: 1;
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer__content-logo{
  color: var(--orange-700);
  font-size: 32px;
  font-weight: 700;
  transition: var(--transition-effect);
}
.footer__content-logo:hover{
  color: var(--orange-600);
}
.footer__content--top > a:last-child{
  color: var(--blue-100);
  transition: var(--transition-effect);
}
.footer__content--top > a:last-child:hover{
  color: var(--blue-400);
}

.footer__content--bottom{
  grid-row: 2;
  color: var(--blue-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content--bottom-links > a{
  color: var(--blue-100);
  border-right: 2px solid rgba(198, 235, 245, 0.153);
  padding-right: 5px;
  margin-right: 10px;
  transition: var(--transition-effect);
}
.footer__content--bottom-links > a:last-child{
  border-right: none;
}
.footer__content--bottom-links > a:hover{
  color: var(--blue-400);
}

/*===================== FIM FOOTER =====================  */



















@keyframes leftFade {
  0%{
    width: 0;
    left: 0;
  }
  100%{
    width: 1;
    left: 1;
  }
}