@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');
/* Estilo básico */
* {
  --green-50: #EDFAF5;
  --green-100: #DAF2E8;
  --green-200: #A8E0C6;
  --green-300: #7ACCA2;
  --green-400: #32A65C;
  --green-500: #008020;
  --green-600: #00731B;
  --green-700: #005E14;
  --green-800: #004D0F;
  --green-900: #00380A;
  --green-950: #002406;

  --orange-50: #FFFCF5;
  --orange-100: #FCF7E8;
  --orange-200: #FAECC8;
  --orange-300: #F7DCA6;
  --orange-400: #F2BB68;
  --orange-500: #ee932b;
  --orange-600: #D67C22;
  --orange-700: #B36017;
  --orange-800: #8F4710;
  --orange-900: #6B2E09;
  --orange-950: #451A03;
  
  --blue-50: #F2FBFC;
  --blue-100: #E8F9FC;
  --blue-200: #C6EBF5;
  --blue-300: #A5E0F0;
  --blue-400: #6AC4E6;
  --blue-500: #32a4d9;
  --blue-600: #298EC4;
  --blue-700: #1C6DA3;
  --blue-800: #125082;
  --blue-900: #0A3561;
  --blue-950: #041E40;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html, body {
  height: 100dvh;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--green-50);
  color: var(--green-700);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  height: 100dvh;
}
.header__content{
  background-color: var(--green-500);
  color: var(--green-100);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__content-logo{
  font-weight: 700;
  font-size: 32px;
}
.header__content-links{
  
}
.header__content-link{}