@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
@import url("./header.css");
@import url("./menuHamburger.css");
@import url("./mainBanner.css");
@import url("./mainContent.css");
@import url("./mainAside.css");
@import url("./footer.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
:root {

  --green-700: #005E14;
  --green-950: #002406;
  --red-500: #C4170C;

  --orange-50: #FFFCF5;
  --orange-100: #FCF7E8;
  --orange-200: #FAECC8;
  --orange-300: #F7DCA6;
  --orange-400: #F2BB68;
  --orange-500: #ee932b;
  --orange-600: #D67C22;
  --orange-700: #B36017;
  --orange-800: #8F4710;
  --orange-900: #6B2E09;
  --orange-950: #451A03;
  
  --blue-50: #F2FBFC;
  --blue-100: #E8F9FC;
  --blue-200: #C6EBF5;
  --blue-300: #A5E0F0;
  --blue-500: #32a4d9;
  --blue-600: #298EC4;
  --blue-700: #1C6DA3;
  --blue-800: #125082;
  --blue-900: #0A3561;
  --blue-950: #041E40;

  --transition-effect: all ease-in-out .5s;
  
}

html, body {
  height: 100dvh;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--green-50);
  color: var(--blue-700);
}

main{
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 52px 82px;
}
