/* Importando fonte personalizada */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Definindo as cores do tema */
:root {
  --light: #7c7241;
  --dark: #1b022a;
  --primary: #727780;
  --secondary: #5d5756;
  --info: #e66325;
  --success: #16a55e;
  --warning: #e4cb16;
  --danger: #f41009;
}

/* Estilos para o header */
header {
  background-color: var(--dark);
  color: white;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px;
}

nav ul li a:hover {
  background-color: var(--info);
  color: white;
  border-radius: 5px;
}

/* Estilos para o main e layout de duas colunas */
main {
  display: flex;
  margin: 20px;
}

section {
  flex: 70%;
  padding: 20px;
  background-color: var(--light);
}

aside {
  flex: 30%;
  padding: 20px;
  background-color: var(--secondary);
  color: white;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li a {
  color: white;
  text-decoration: none;
}

aside ul li a:hover {
  color: var(--info);
}

/* Estilos para a imagem */
section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}

/* Estilos para o footer */
footer {
  background-color: var(--dark);
  color: white;
  text-align: center;
  padding: 10px;
}
