div.card {
  border: 1px solid var(--color-white);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  letter-spacing: 1.5px;
  width: 500px;
}
div.card:not(div.card:last-child) {
  margin-right: var(--spacing-md);
}
div.card h2 {
  font-size: var(--size-xl);
  font-weight: var(--font-weight-semi-bold);
}
.title-tasks {
  color: var(--color-white);
}
.title-progress {
  color: var(--color-blue-500);
}
.title-done {
  color: var(--color-green-500);
}
div.card ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  min-height: 16px;
}
div.card ul li.card-item {
  border: 1px solid transparent;
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.card ul li.card-item:hover {
  border: 1px solid var(--color-gray-400);
}

div.card ul li.card-item span {
  font-weight: var(--font-weight-medium);
}

div.card ul li.card-item div.settings {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: var(--spacing-xs);
}

div.card ul li.card-item div.settings button.edit,
div.card ul li.card-item div.settings button.delete,
div.card ul li.card-item div.settings button.drag-handle {
  padding: var(--spacing-xs);
  background-color: transparent;
  border: none;
  font-size: var(--size-md);
  color: var(--color-white);
  border-radius: var(--radius-md);
  transition: var(--transition-slow);
}
div.card ul li.card-item div.settings button.edit:hover {
  background-color: var(--color-yellow-500);
}
div.card ul li.card-item div.settings button.delete:hover {
  background-color: var(--color-red-500);
}
div.card ul li.card-item div.settings button.drag-handle {
  cursor: move;
  font-size: var(--size-xl);
  color: var(--color-gray-400);
  justify-self: end;
}
div.card ul li.card-item div.settings button.drag-handle:hover {
  color: var(--color-purple-500);
}
.dragging {
  opacity: 0.7;
}

.progress {
  color: var(--color-blue-500);
}
.done {
  text-decoration: line-through;
  color: var(--color-green-500);
}
