
body.body__about{
  background: var(--color-blue-50);
  box-sizing: border-box;
}
.main__content--about{
  display: flex;
  font-family: var(--font-sarabun);
  flex-direction: column;
  margin-top: var(--spacing-4xl);
}

.main__content--about nav ul{
  display: flex;
  align-items: center;
  gap: var(--size-md);
}
.main__content--about nav ul li a{
  border: none;
  background-color: transparent;
  font-weight: var(--font-weight-bold);
  transition: var(--transition-fast);
  color: var(--color-blue-950);
}
.main__content--about nav ul li a:hover{
  color: var(--color-blue-500);
  outline: 1px dashed var(--color-blue-500);
  outline-offset: 2px;
}

.content__about{
  color: var(--color-blue-950);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__about h1{
  font-size: var(--size-2xl);
  color: var(--color-blue-500);
  font-family: var(--font-tektur);
  font-weight: var(--font-weight-bold);

}
.section__content{
  padding: var(--spacing-4xl);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__content > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-md);
}
.section__content p{
  line-height: var(--line-height-md);
  margin-bottom: var(--spacing-xl);
  letter-spacing: 1.5px;
  font-size: var(--size-lg);
}
.image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  gap: var(--spacing-md);
}
.mascot .image-container{
  width: 75%;
}
.section__content img{
  width: 100%;
  object-fit: cover;
  margin: 0 auto ;
}
.history{
  display: none;
}

.mascot{
  display: none;
  flex-direction: column;
  align-items: center;
}

.uniform{
  display: none;
  flex-direction: column;
  align-items: center;
}
.champion-titles{
  display: none;
}
.uniform h3{
  font-family: var(--font-tektur);
  font-size: var(--size-xl);
  color: var(--color-blue-500);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
.uniform img{
  margin-top: var(--spacing-md);
}


.activeLink{
  display: flex;
}
.champion-titles h3{
  font-size: var(--size-xl);
  font-weight: var(--font-weight-extra-bold);
}
.champion-titles p.year-champions{
  font-size: var(--size-lg);
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacing-md);
}
.champion-titles .image-container{
  width: 60%;
}
@media screen and (max-width: 560px) {
  .main__content--about{
    align-items: center;
  }
}

@media screen and (max-width: 769px) {
  .section__content {
    padding: var(--spacing-md);
  }
}