.banner{
  width: 100%;
  grid-area: banner;
  display: grid;
  grid-template-columns: repeat(2, );
  gap: 16px;
}

.banner a#news-01{
  grid-area: news-01;
}
.banner a#news-02{
  grid-area: news-02;
}

.banner a#news-03{
  grid-area: news-03;
}



/* .banner a{
  overflow: hidden;
  position: relative;
} */
/* .content__link{
  width: 500px;
  background-color: rgba(0, 47, 149, 0.257);
} */

/* .banner a, .banner a img{
  border-radius: 8px;
}
.banner a .content__link img{
  transition:var(--transition-slow);
}
.banner a#news-01 img{
  height: 100%;
  background-position: center;
  object-fit: cover;
}
.banner a:hover img{
  transform: scale(1.5);
}
.banner > a > span,
.banner > a > div{
  position: absolute;
  color: var(--color-yellow-950);
 z-index: 999; 
}

.banner > a > span{
  top: var(--spacing-sm);
  left: var(--spacing-sm);
  font-size: var(--size-xs);
  }
.banner > a > div{
  bottom: var(--spacing-sm);
  left: var(--spacing-sm);
  font-size: var(--size-xs);
  }
.banner > a > div > h3{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.5;
}
.banner > a > div > p{
  font-size: 16px;
} */