.banner{
  width: 100%;
  border: 1px solid blueviolet;
  grid-area: banner;
  display: grid;
  grid-template:"p p s"
                "p p c"
                "p p "
                "";
}
.banner a:first-child{
  
}
.banner a{

}
