.banner{
  width: 100%;
  border: 1px solid blueviolet;
  grid-area: banner;
  display: grid;
  grid-template-areas:"p p s"
                "p p s"
                "p p t"
                "p p t";
}
.banner a#p{
  grid-area: p;
}
.banner a#s{
grid-area: s;
}
.banner a#t{
grid-area: t;
}
