.banner{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(4, 1fr);
  grid-column: span 2 / span 2;
  height: 455px;
  padding: var(--spacing-xl);
  gap: 8px;
}
.top--news-container{
  border-radius: 10px;
  background: var(--blue-900);
  color: var(--orange-500);
  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 32px 38px;
  position: relative;
  overflow: hidden;
}
.top--news-container > span{
  font-size: 12px;
  color: var(--color-yellow-500);
  z-index: 1;
}
.top--news-container > img {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: var(--transition-slow);
}
.top--news-container:hover > img {
  transform: scale(1.1);
}
.top--news-content{
  position: relative;
  z-index: 1;
}
.top--news-content h3{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.5;
}
.top--news-content span{
  font-size: 16px;
}
.top--news-01 {
  grid-row: span 4 / span 4;
}

.top--news-02 {
  grid-row: span 2 / span 2;
}

.top--news-03 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}