.banner{
  width: 100%;
  grid-area: banner;
  display: grid;
  grid-template-areas:"news-01 news-01 news-02"
                "news-01 news-01 news-02"
                "news-01 news-01 news-03"
                "news-01 news-01 news-03";
  gap: 16px;
}
.banner a, .banner a img{
  border-radius: 8px;
}
.banner a{
  overflow: hidden;
  position: relative;
  mask: #000;
}
.banner a img{
  transition:var(--transition-slow);
}
.banner a#news-01{
  grid-area: news-01;
}
.banner a#news-01 img{
  height: 100%;
  background-position: center;
  object-fit: cover;
}
.banner a#news-02{
  grid-area: news-02;
}
.banner a#news-03{
  grid-area: news-03;
}
.banner a:hover img{
  transform: scale(1.5);
}

a > .content__link-description{
  position: absolute;
  color: var(--color-yellow-600);
  height: 100%;
  padding: var(--spacing-md);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  z-index: 1;
}
a > .content__link-description > div > h3{
  font-size: var(--size-2xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-xl);
}
