.body__contact{
  background: var(--color-blue-500);
}
.main__contact{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  width: 30%;
  border: ;
  min-width: 500px;
  align-items: center;
  
}
.main__contact h3{
  font-size: var(--size-xl);
  color: var(--color-yellow-500);
  font-weight: var(--font-weight-medium);
  letter-spacing: 4px;
}

.main__contact .group-input{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-md);
  width: 100%;
}