.body__contact{
  background: var(--color-blue-500);
}
.main__contact{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 500px;
  min-width: 320px;
  align-items: center;
}
.main__contact h3{
  font-size: var(--size-xl);
  color: var(--color-yellow-500);
  font-weight: var(--font-weight-medium);
  letter-spacing: 4px;
}
.form__contact{
  width: 100%;
}
.form__contact .group-input{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-xl);
}
.form__contact .group-input input, .form__contact .group-input textarea{
  width: 100%;
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  background-color: transparent;
  outline-color: var(--color-yellow-50);
  border: 1px solid var(--color-blue-50);
  color: var(--color-blue-50);
  font-size: var(--size-md);
}
.form__contact .group-input textarea{
  margin-bottom: var(--spacing-xl);
  resize: none;
  height: 100px;
}

.form__contact button{
  background-color: var(--color-yellow-500);
  padding: var(--spacing-md);
  color: var(--color-blue-950);
  border: none;
  border-radius: var(--radius-lg);
  font-weight: var(--font-weight-medium);
  transition: var(--transition-slow);
}
.form__contact button:hover{
  box
}