.footer__content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  background-color: var(--color-blue-500);
  width: 100dvw;
  padding: var(--spacing-lg);
  font-family: var(--font-sarabun);
  font-size: var(--size-lg);
  font-weight: var(--font-weight-light);
  box-shadow: var(--shadow-md-top);
}
.footer__content p{
  position: relative;
}
.footer__content p::after{
  content: "";
  border: 1px solid rgba(54, 107, 181, 0.5);
  height: 20px;
  margin-left: var(--spacing-xs);
}
.footer__content span{
  font-weight: var(--font-weight-medium);
  margin-left: var(--spacing-sm);
}
.footer__content img{
  width: var(--width-md);
}

@media screen and (max-width: 570px) {
  .footer__content{
    flex-direction: column;
    width: 99%;
    align-items: flex-start;
  }
  .footer__content img{
    order: 1;
  
  }
  .footer__content p{
    order: 2;
  }
  .footer__content p::after{
    display: none;
  }
  .footer__content span{
    order: 3;
  }
}