.btn-menu__hamburger{
  background-color: transparent;
  border: none;
  font-size: var(--size-xl);
  width: var(--width-sm);
  color: var(--color-blue-50);
  transition: var(--transition-medium);
}

.btn-menu__hamburger:hover{
  color: var(--color-blue-300);
}


.menu__hamburger--container{
  display: block;
  background-color: var(--color-blue-500);
  position: absolute;
  width: 300px;
  top: 100px;
  height: calc(100dvh - 100px);
  border: 1px solid var(--color-blue-500);
  transition: var(--transition-slow);
  right: 0;
}

.menu__hamburger--container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-xl);
  
}
.menu__hamburger--container--list-item-link{
  width: 100%;
  font-weight: var(--font-weight-bold);
  color: var(--color-blue-50);
  transition: var(--transition-bold);
  padding: var(--spacing-lg);
}
.menu__hamburger--container--list-item-link:hover{
  color: var(--color-blue-500);
  background-color: var(--color-blue-50);
}


.active-menu-link{
  background-color: var(--color-blue-50);
  color: var(--color-blue-950);
}

@media screen and (max-width: 320px) {
  #nav-menu{
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #nav-menu{
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #nav-menu{
    display: flex;
  }
  .btn-menu__hamburger{
    display: none;
  }
}