@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tektur:wght@400..900&display=swap');

:root {
  /* Colors=======================*/
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-gray-50: rgb(245, 245, 245);
  --color-gray-500: rgb(63, 63, 63);
  --color-gray-900: rgb(28, 28, 28);
  --color-blue-50: rgb(237, 245, 250);
    --color-blue-100: rgb(220, 235, 245);
    --color-blue-200: rgb(172, 205, 230);
    --color-blue-300: rgb(127, 171, 212);
    --color-blue-400: rgb(54, 107, 181);
    --color-blue-500: rgb(0, 46, 149);
    --color-blue-600: rgb(0, 40, 133);
    --color-blue-700: rgb(0, 31, 110);
    --color-blue-800: rgb(0, 22, 89);
    --color-blue-900: rgb(0, 15, 66);
    --color-blue-950: rgb(0, 9, 43);
  --color-yellow-400: rgb(255, 193, 7);
  --color-yellow-500: rgb(243, 174, 42);
  --color-yellow-600: rgb(255, 152, 0);
  --color-yellow-600: rgb(255, 152, 0);
  --color-green-500: rgb(13, 189, 59);
  --color-red-500: rgb(217, 48, 37);

  /*Fonts famile*/
  --font-sarabun: "Sarabun", sans-serif;
  --font-tektur: 'Tektur', system-ui;

  /* Fonts size========================== */
  --size-xs: 0.75rem; /* (12px)  (xs) */
  --size-sm: 0.875rem; /* (14px)  (sm)*/
  --size-md: 1rem; /* (16px) — geralmente o tamanho padrão. (md)*/
  --size-lg: 1.25rem; /* (20px) (lg)*/
  --size-xl: 1.5rem; /* (24px) (xl)*/
  --size-2xl: 2rem; /*  (32px) (2xl)*/
  --size-3xl: 3rem; /* (48px) (3xl)*/
  --size-4xl: 4rem; /* (64px) (4xl)*/
  /* Spacing (paddings, margins)==================== */
  --spacing-xs: 0.25rem; /* (4px) */
  --spacing-sm: 0.5rem; /* (8px) */
  --spacing-md: 1rem; /* (16px) */
  --spacing-lg: 1.5rem; /* (24px) */
  --spacing-xl: 2rem; /* (32px) */
  --spacing-2xl: 3rem; /* (48px) */
  --spacing-3xl: 3.25rem; /* (52px) */
  --spacing-4xl: 5.125rem; /* (82px) */
  /*Border Radius =============================*/
  --radius-sm: 0.125rem; /* (2px) */
  --radius-md: 0.25rem; /* (4px) */
  --radius-lg: 0.5rem; /* (8px) */
  --radius-xl: 1rem; /* (16px) */
  --radius-full: 100%; /* Para bordas completamente arredondadas */
  /*Box Shadows===================================== */
  --shadow-xs: 0px 1px 2px rgba(243, 174, 42, 0.05);
  --shadow-sm: 0px 2px 4px rgba(243, 174, 42, 0.1);
  --shadow-md: 0px 4px 8px rgba(243, 174, 42, 0.15);
  --shadow-md-top:  0 -4px 6px rgba(243, 174, 42, 0.15);
  --shadow-lg: 0px 8px 16px rgba(243, 174, 42, 0.2);
  /*Widths==========================*/
  --width-xs: 1rem; /* Tamanho extra pequeno */
  --width-sm: 1.5rem; /* Tamanho pequeno */
  --width-md: 2rem; /* Tamanho médio */
  --width-lg: 4.5rem; /* Tamanho grande */
  --width-xl: 80rem; /* Tamanho extra grande */
  --width-2xl: 96rem; /* Tamanho 2x grande */
  --width-3xl: 128rem; /* Tamanho 3x extra grande */
  --width-4xl: 160rem; /* Tamanho 4x extra grande */
  /*Heights=====================*/
  --height-sm: 2rem;
  --height-md: 6rem;
  --height-lg: 8rem;
  /*Z-index=======================*/
  --z-index-header: 100;
  --z-index-modal: 1000;
  --z-index-overlay: 2000;

  /*transition animation=======================*/
  --transition-fast: 0.2s ease-in-out;
  --transition-medium: 0.4s ease-in-out;
  --transition-slow: 0.6s ease-in-out;
  /*Opacity============================*/
  --opacity-low: 0.2;
  --opacity-medium: 0.5;
  --opacity-high: 0.8;
  /*Line Heights ====================*/
  --line-height-xs: 1.2;
  --line-height-sm: 1.4;
  --line-height-md: 1.6;
  --line-height-lg: 1.8;
  /*Font Weights=============================*/
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /*Break points=====================================*/
  --breakpoint-xs: 320px;  /* Pequenos celulares */
  --breakpoint-sm: 480px;  /* Médios celulares */
  --breakpoint-md: 768px;  /* Tablets (retrato) */
  --breakpoint-lg: 1024px; /* Tablets (paisagem) */
  --breakpoint-xl: 1200px; /* Desktops pequenos */
  --breakpoint-2xl: 1440px; /* Desktops médios */
  --breakpoint-3xl: 1920px; /* Desktops grandes */
}
