@import url("./reset.css");
@import url("./patterns.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

body {
  display: grid;
  grid-gap: 1rem;
  background: url();
  font-family: 'Poppins', sans-serif;
  color: var(--color-blue-50);
  grid-template-areas:
    "header header header header header"
    "main main main main aside"
    "footer footer footer footer footer";
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto 100dvh auto;
}

.header__content {
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: var(--color-blue-900);
  justify-content: space-around;
  height: var(--height-sm);
  padding: var(--spacing-lg);
  box-shadow: var(--shadow-md);
}

.header__content-logo{
  font-size: var(--size-2xl);
  font-weight: var(--font-weight-bold);
}
.header__nav--container{}
.header__nav--list-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
}
.header__nav--list-item{}
.header__nav--list-link{
  color: var(--color-yellow-500);
  padding: var(--spacing-xs);
  border-radius: var(--radius-lg);
  font-weight: var(--font-weight-medium);
  transition: var(--transition-fast);
}
.header__nav--list-link:hover{
  box-shadow: var(--shadow-lg);
}
.active{
  box-shadow: var(--shadow-lg);
}

.aside__content {
  grid-area: aside;
  background-color: var(--color-blue-50);
}

.main__content {
  grid-area: main;
  background-color: var(--color-blue-50);
}

.footer__content {
  grid-area: footer;
}

.aside__content, .main__content, .footer__content {
  padding: 2rem 1rem;
  
}