@import url("./reset.css");
@import url("./patterns.css");
@import url("./header.css");
@import url("./menuHamburger.css");
@import url("./banner.css");
@import url("./aside.css");
@import url("./mainContent.css");
@import url("./footer.css");

/* body {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-between;
  background: url("../images/Website_StoreNavyBG.png") no-repeat center;
  background-color: var(--color-blue-500);
  font-family: var(--font-tektur);
  color: var(--color-blue-50);
}

main.container{
  padding: var(--spacing-3xl) var(--spacing-2xl);
  height: 100%;
} */
html, body {
  height: 100dvh;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--green-50);
  color: var(--blue-700);
  position: relative;
  scroll-behavior: smooth;
}

main{
  display: grid;
  grid-template-columns: 70% 30%;
  padding: (var()) 82px;
}

@media screen and (max-width: 320px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) {
  body{
    width: 100dvw;
  }
}